.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    height: 50vh;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }


  
  @media only screen and (max-width: 1200px){
    body{}
}
@media only screen and (max-width: 600px){
	body{}
}
@media only screen and (max-width: 425px){
	body{}
}